/* mwForum hacked to look like Google Code (for Gosu board) */

/* Canvas */
html {
	margin: 0px;
	height: 100%;
	background-color: white;
	padding: 0;
  	background: url("/background.jpg") top center repeat-x;
}
body {
	margin: 0;
  	font-family: "Lucida Grande", Verdana, sans-serif;
	background: url("/forum_header.png") 25px 25px no-repeat;
	padding: 25px;
}

/* Base font */
body, table {
	font-size: 14px;
}

/* Link */
a {
	color: #c00;
	text-decoration: none;
}
a img {
	border: none;
}

/* Generic frame */
div.frm {
    clear: both;
	margin-top: 10px;
	-webkit-border-radius: 1em 0.5em;
  	-moz-border-radius: 0.5em;
	background-color: #fff;
	padding: 5px;
}

div.dsc {
  margin-top: 0px;
}

/* Generic header cell */
div.hcl {
	font-size: 115%;
	height: 1.337em;
	padding: 5px 6px;
	overflow: hidden;
}

/* Generic content cell */
div.ccl {
	border-top: 1px solid #666;
	background-color: #fff;
	padding: 6px;
}
div.ccl:first-child {
	border-top: none;
}
div.ccl p:first-child {
	margin-top: 0;
}

/* Generic button cell */
div.bcl {
	border-top: 1px solid silver;
	background-color: #fff;
	padding: 2px 4px 2px 1px;
}

/* Button link */
div.bcl a, a.btl {
	margin: 1px;
	padding: 0 4px;
}
div.bcl a:hover, a.btl:hover {
	margin: 0;
	border: 1px solid silver;
	background-color: #fafafa;
}
td.shr a.btl {
	padding: 0 2px;
}

/* Nav button, page link float */
span.nav, span.pln {
	float: right;
}

/* Page button link */
span.pln a {
	margin: 0;
	padding: 0;
}
span.pln a:hover {
	background-color: inherit;
	border: none;
	margin: 0;
}

/* Table frame */
table.tbl {
	width: 100%;
	margin-top: 10px;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 2px solid white;
}

/* Table header row */
table.tbl tr.hrw {
	background-color: #fff;
	font-weight: bold;
}

/* Table header cell */
table.tbl th {
	font-size: 115%;
	padding: 4px 6px;
	text-align: left;
	white-space: nowrap;
}

/* Table header column cell */
table.tbl td.hco {
	width: 20%;
	font-weight: bold;
}

/* Table content row */
table.tbl tr.crw {
	background-color: #efefef;
}	

/* Table content cell */
table.tbl td {
	padding: 4px 6px;
	border-top: 1px solid #666;
}

/* Table short cell */
table.tbl .shr {
	width: 15%;
	white-space: nowrap;
}

/* Table icon cell */
table.tbl .icl {
	width: 18px;
	text-align: center;
}

/* Top bar frame */
div.tpb {
	margin: 0px 0 30px 10px;
	padding: 0.5em 0.7em 0.7em 0.7em;
	float: right;
	background-color: #fff;
	-webkit-border-radius: 1em 0.5em;
  	-moz-border-radius: 0.5em;
}

div.tpb div.bcl {
  background-color: #fff;
  border: none;
}

/* Error header cell */
div.err div.hcl {
	background-color: #ff8888;
	background-image: url(bg_hclerr.png);
}

/* Error message paragraph */
div.err div.ccl p {
	margin: 5px 0 0 0;
	color: red;
}
div.err div.ccl p:first-child {
	margin: 0;
}

/* Form */
form {
	margin: 0;
	padding: 0;
}
input, button, textarea, select {
	font-size: inherit;
	font-family: inherit;
}
textarea {
	width: 99%;
}

/* Poll result */
td.plv, td.plp {
	padding-left: 15px;
	text-align: right;
}

/* Poll result bar */
img.plb {
	margin-left: 10px;
	height: 10px;
	background-color: red;
}

/* Post header of unread posts */
div.pst.unr div.hcl {
	background-color: #c0ffc0;
	background-image: url(bg_pstunr.png);
}

/* Post header of new posts */
div.pst.new div.hcl {
	background-color: #e8e8a0;
	background-image: url(bg_pstnew.png);
}

/* Post header of target posts */
div.pst.tgt div.hcl {
	background-color: #cdcbe0;
	background-image: url(bg_psttgt.png);
}

/* Quote */
blockquote {
	margin: 0;
	color: gray;
}
blockquote p {
	margin: 0;
}

/* User rank and post rating icons */
img.rnk, img.prt {
	margin-top: 1px;
	vertical-align: text-top;
}

/* Avatar image */
img.ava {
	width: 50px;
	height: 50px;
}
div.pst img.ava {
	margin-left: 5px;
	float: right;
}
form.agl img.ava {
	margin: 2px;
	vertical-align: middle;
}

/* Make post cell enclose avatar */
div.pst div.ccl:after {
	content: "."; 
	display: block; 
	visibility: hidden;
	height: 0; 
	clear: both; 
}

/* Make post cell enclose avatar in IE 5-6 */
* html div.pst div.ccl {
	height: 1px;
}

/* Make post cell enclose avatar in IE 7 */
div.pst div.ccl {
	display: inline-block;
}
div.pst div.ccl {
	display: block;
}

/* Signature */
div.sig, span.sig {
	font-size: 85%;
}

/* Board/topic/post/nav icon */
img.ico {
	margin: 2px 0;
	vertical-align: text-top;
	width: 14px;
	height: 14px;
}
table.tbl img.ico {
	margin: 1px 0 0 0;
}

/* Smiley icon */
img.sml {
	margin-top: 1px;
	vertical-align: text-top;
	width: 14px;
	height: 14px;
}

/* Flag */
img.flg {
	margin: 3px 0;
	vertical-align: text-top;
	width: 16px;
	height: 11px;
}

/* Header title */
span.htt {
	text-transform: lowercase;
	font-weight: bold;
}

/* Sticky topic title */
span.stk {
	font-weight: bold;
}

/* Execution message */
span.tbm {
	font-weight: bold;
	color: green;
}

/* Highlighted keyword, report/message link */
em {
	font-weight: bold;
	font-style: normal;
	color: red;
}

/* Monospace font */
tt {
	font-size: 90%;
}

/* Float right */
.flr {
	float: right;
}

/* Help */
div.hlp h3 {
	margin: 10px 0 0 0;
	font-size: 100%;
	font-weight: bold;
}
div.hlp p {
	margin: 5px 0 0 0;
}

/* Forum info copyright, mini banner */
div.icr, div.bni {
	margin-top: 10px;
	text-align: center;
}
div.icr {
	border: 1px solid silver;
}
div.bni img {
	margin: 5px;
}

/* Board jump form */
form.bjp {
	margin-top: 10px;
	float: right;
}

/* Copyright, page timer message */
p.cpr, p.pct {
	text-align: center;
	font-size: 85%;
	color: silver;
}

/* Forum config */
form.cfg h3 {
	margin: 20px 0 10px 0;
	border-top: 1px solid silver;
	padding-top: 10px;
	font-size: 100%;
	font-weight: bold;
}
form.cfg h3:first-child {
	margin-top: 0;
	border-top: none;
}
form.cfg h4 {
	margin: 10px 0 0 10px;
	font-size: 100%;
	font-weight: bold;
}
form.cfg p {
	margin: 5px 0 0 20px;
	width: 90%;
}
form.cfg samp {
	color: green;
	font-family: verdana, sans-serif;
	font-weight: normal;
}
form.cfg dfn {
	color: gray;
	font-style: normal;
	font-weight: normal;
}
form.cfg input.ctx {
	width: 50%;
}
form.cfg textarea {
	width: 90%;
}
form.cfg div.afo {
	background-color: #e8e8e8;
}

/* Tag button */
button.tbt {
	margin: 0 3px 3px 0;
	width: 40px;
	border: 1px solid gray;
	background-color: #efefef;
}
button.tbt:hover {
	background-color: white;
}

/* Invisible table */
table.tiv {
	border-collapse: collapse;
	border: none;
}
table.tiv tr {
	border: none;
}
table.tiv td {
	border: none;
	padding: 0 5px 0 0;
	vertical-align: top;
}
table.tiv .shr {
	width: 15%;
	white-space: nowrap;
}

/* Topic tag */
img.ttg {
	vertical-align: text-top;
}

/* Image gallery */
table.igl td {
	text-align: center;
	vertical-align: bottom;
	font-size: 85%;
}

/* Attachment thumbnail */
img.amt {
	border: 1px solid blue;
}

/* Embedded external images */
img.emi {
	max-width: 100%;
}

/* Board description */
div.bds {
	font-size: 85%;
}

div.pst {
	border: 2px solid #666;
}
