# This file explicitly disables a few clang-tidy inspections that don't matter for the FFI bindings.
InheritParentConfig: true
Checks: >-
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -hicpp-deprecated-headers,
  -modernize-deprecated-headers,

CheckOptions:
  - { key: readability-identifier-naming.FunctionCase,   value: aNy_CasE  }
  - { key: readability-identifier-naming.FunctionPrefix, value: Gosu_ }
  - { key: readability-identifier-naming.StructPrefix,   value: Gosu_ }
