Checks: >-
  *,
  -*-avoid-c-arrays,
  -altera-*,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-special-member-functions,
  -llvm-*,
  -llvmlibc-*,
  -fuchsia-*,
  -google-objc-*,
  -google-readability-namespace-comments,
  -google-runtime-references,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-use-auto,
  -hicpp-use-equals-default,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-equals-default,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,

CheckOptions:
  - { key: readability-identifier-naming.ClassCase,            value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,         value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase,   value: UPPER_CASE }
  - { key: readability-identifier-naming.NamespaceCase,        value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberPrefix,  value: m_         }
  - { key: readability-identifier-naming.StructCase,           value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,         value: lower_case }
