(*)
/.bundle
/vendor
/Gosu.framework/
/Gosu.framework.dSYM/
/lib/*.dSYM
/lib/Gosu*.lib
/lib/gosu.*.bundle
/lib/gosu.*.so
/lib/libgosu*.a
/mac/build/
/mac/Gosu.xcodeproj/*.pbxuser
/mac/Gosu.xcodeproj/*.perspectivev3
/mac/Ruby/include/
/mac/Ruby/lib/
/mac/Ruby/libruby.1.9.1.dylib
/pkg/
/reference/cpp/
/reference/rdoc/
/RubyGosu App.app/
/website/downloads/
/website/cpp/
/website/index.html
/website/mwf
/website/potd.png
/website/potd_values.rb
/website/rdoc/
/windows/*.ncb
/windows/*.sdf
/windows/*.suo
/windows/*.user
/windows/ipch
/windows/Debug
/windows/Release
/windows/Release with Ruby 1.9

.yardoc/
/xcode/Gosu.xcodeproj/xcuserdata/
/xcode/Gosu.xcodeproj/project.xcworkspace/xcuserdata/

# QtCreator project files
Gosu.config
Gosu.creator
Gosu.files
Gosu.includes

/cmake/build/*
/examples/*/build/*
