/mac/Gosu.xcodeproj/*.pbxuser
/mac/Gosu.xcodeproj/*.perspectivev3
/mac/build/
/Gosu.framework/
/lib/gosu.*.bundle
/reference/cpp/
/reference/rdoc/
/website/cpp/
/website/rdoc/
(*)
/windows/*.ncb
/windows/*.suo
/windows/*.user
/windows/Release
/windows/Debug
/lib/Gosu*.lib
/lib/gosu.*.so
