(*)
/Gosu.framework/
/lib/Gosu*.lib
/lib/gosu.*.bundle
/lib/gosu.*.so
/mac/build/
/mac/Gosu.xcodeproj/*.pbxuser
/mac/Gosu.xcodeproj/*.perspectivev3
/mac/Ruby/include/
/mac/Ruby/lib/
/mac/Ruby/libruby.1.9.1.dylib
/public/
/reference/cpp/
/reference/rdoc/
/website/cpp/
/website/index.html
/website/mwf
/website/potd.png
/website/potd_values.rb
/website/rdoc/
/windows/*.ncb
/windows/*.suo
/windows/*.user
/windows/Debug
/windows/Release

/RubyGosu App.app/