body {
  font-family: Verdana, sans-serif;
  color: white;
  background-color: #303060;
}

body.rightSide {
  margin-left: 3em;
  margin-right: 2.5em;
  background-image: url('img/shadow.png');
  background-repeat: repeat-y;
}

a {
  color: yellow;
}

a:active {
  color: white;
}

p {
  text-align: justify;
}

p.member {
  font-size: large;
  font-family: monospace;
  font-weight: bold;
  padding-left: 20px;
  background-image: url('img/member.png');
  background-repeat: no-repeat;
}

p.copyright {
  font-size: small;
}

pre {
  border: 0.2em black solid;
  padding: 1em;
  color: black;
  background-color: #f6f6f6;
  font-size: 90%;
}