<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Gosu, 2D game development library</title>
  
  <style type="text/css">
    html {
      margin: 0px;
      padding: 0px;
    }
    
    body {
      margin: 0px;
      padding: 9px;
      font-family: "Lucida Grande", sans-serif;
      background: url("background.jpg") top center repeat-x;
    }
    
    #main {
      padding: 25px;
      -webkit-border-radius: 1em 0.5em;
      -moz-border-radius: 0.5em;
      background: white;
      width: 90%;
      margin: 106px auto 0px auto;
    }
    
    #logo_container {
      float: right;
      margin-top: -106px;
      margin-bottom: 10px;
    }
    
    #logo_container img {
      margin: -10px -10px -10px 0px;
      vertical-align: bottom;
    }
    
    div#tabs {
      margin-top: -54px;
      margin-left: -10px;
      margin-bottom: 45px;
    }
    
    span.tab {
      padding: 10px;
      margin-right: 10px;
      -webkit-border-top-left-radius: 1em 0.5em;
      -webkit-border-top-right-radius: 1em 0.5em;
      -moz-border-radius-topleft: 0.5em;
      -moz-border-radius-topright: 0.5em;
      background: #eee;
      border-bottom: 1px solid #bbb;
      text-align: center;
      font-weight: bold;
      width: 150px;
      height: 20px;
    }

    span.active {
      background: white;
      border-bottom: 1px solid white;
    }
    
    .quick_link {
      float: right;
      clear: right;
      padding: 20px;
      border: 2px solid black;
      -webkit-border-radius: 1em 0.5em;
      -moz-border-radius: 0.5em;
      width: 256px;
      margin: -15px 0em 25px 1.5em;
    }
    
    .quick_link ul {
      margin: 0.5em;
      padding-left: 1em;
    }
    
    .quick_link li {
      margin: 0em;
    }
    
    .quick_link#feed_link {
      background: url('feed-icon.png') 10px 20px no-repeat;
      padding-left: 100px;
      width: 176px;
    }

    .quick_link #project_of_the_day {
      text-align: center;
    }
    
    .quick_link #project_of_the_day img {
      margin-top: 10px;
      margin-left: -10px;
    }
    
    a {
      color: red;
    }
    
    h1 {
      font-size: 115%;
      margin-top: 1.5em;
    }
    
    li {
      margin-bottom: 1em;
    }

    small {
      color: #666;
    }
  </style>
</head>

<body>
  <div id="main">
    <div id="logo_container">
      <img src="website_header.png" alt="Gosu logo">
    </div>

    <div class="quick_link">
      Gosu is in the process of moving from its old <a href="http://code.google.com/p/gosu/">GoogleCode project</a> to <a href="http://github.com/jlnr/gosu/">GitHub</a>.
      <ul>
        <li><a href="http://www.libgosu.org/downloads">C++ downloads</a><br><small>(Ruby uses Gems)</small></li>
        <li><a href="http://github.com/jlnr/gosu/">source code</a></li>
        <li><a href="http://github.com/jlnr/gosu/issues">issue tracker</a></li>
        <li><a href="http://code.google.com/p/gosu/w/list">documentation Wiki</a></li>
        <li><a href="http://github.com/jlnr/gosu/wiki/ChangeLog">change log</a></li>
        <li><a href="http://github.com/jlnr/gosu/wiki/ToDo">To&nbsp;Do list</a></li>
      </ul>
    </div>
    
    <div class="quick_link">
      <div id="project_of_the_day">
        Project of the Day: <a href="http://www.libgosu.org/cgi-bin/mwf/topic_show.pl?tid=<%= $POTD_ID %>"><%= $POTD_TITLE %></a>
        <br>
        <a href="http://www.libgosu.org/cgi-bin/mwf/topic_show.pl?tid=<%= $POTD_ID %>">
          <img src="potd.png" alt="Screenshot of the project of the day">
        </a>
        <br>
        See more awesome projects in the <a href="http://www.libgosu.org/cgi-bin/mwf/board_show.pl?bid=2">Gosu Showcase</a> forum.
      </div>
    </div>
    
    <div class="quick_link" id="feed_link">
      Stay up to date easily with <a href="http://code.google.com/p/gosu/feeds">RSS feeds of downloads and more</a> from the GoogleCode page, or subscribe even to Gosu news and discussion easily via the <a href="http://www.libgosu.org/cgi-bin/mwf/forum_feeds.pl">feeds from the forum</a>.
    </div>

    <div class="quick_link">
      There is also a low traffic <a href="irc://irc.freenode.org/gosu">IRC channel on freenode</a> for friendly chat.
    </div>
    
    <div id="tabs">
      <span class="tab active">overview</span>
      <span class="tab"><a href="http://www.libgosu.org/cgi-bin/mwf/forum.pl">forum</a></span>
      <span class="tab"><a href="http://www.libgosu.org/rdoc/">ruby rdoc</a></span>
      <span class="tab"><a href="http://www.libgosu.org/cpp/">c++ reference</a></span>
    </div>

    <p>
      Gosu is a 2D game development library for the Ruby and C++ programming languages, available for Mac OS X, Windows and Linux. The C++ version is also available for iPad, iPhone and iPod&nbsp;Touch.<br>
      <small>Visual&nbsp;C++&nbsp;2008 (recommended) or 2010 required for the Windows C++ version, but the free Express versions are fine.</small>
    </p>
    
    <p>
      Both languages have access to:
      <ul>
        <li> 2D graphics and text, accelerated by 3D hardware</li>
        <li> Sound samples and music in various formats</li>
        <li> Keyboard, mouse and gamepad input</li>
      </ul>
    
      Ruby/Gosu also features:
      <ul>
        <li> Installation via <tt>gem install gosu</tt>, complete with examples</li>
        <li> An example for using <tt>ruby-opengl</tt> to add rich 3D effects to 2D Gosu games</li>
        <li> A tutorial on how to use the <a href="http://wiki.slembcke.net/main/published/Chipmunk">Chipmunk</a> physics library with Gosu: <a href="http://code.google.com/p/gosu/wiki/RubyChipmunkIntegration">RubyChipmunkIntegration</a>, written by Dirk Johnson</li>
        <li> RMagick integration, shown in an example game—or you can <a href="http://www.libgosu.org/cgi-bin/mwf/topic_show.pl?tid=79">use TexPlay, a light-weight replacement tuned for games</a></li>
        <li> A comprehensive <a href="http://code.google.com/p/gosu-fr">translation effort into French</a>. Also, translations of the Ruby tutorial into Traditional Chinese and Spanish as well Polish and more French material—see <a href="http://code.google.com/p/gosu/wiki/DocsOverview">DocsOverview</a> in the Wiki</li>
      </ul>
    </p>
    
    <h1>Ruby Game Development: Overview</h1>
    <p>If you are coming from a Ruby background and haven't yet decided on a library or want to know about alternatives to Gosu, or if you haven't yet decided to even use Ruby, check out Andrea O. K. Wright’s articles and conference talk.</p>
    <p>
      <a href="http://www.oreillynet.com/pub/a/ruby/2007/12/04/creating-games-in-ruby.html">Article (part 1)</a> /
      <a href="http://www.oreillynet.com/pub/a/ruby/2007/12/18/creating-games-in-ruby-part-2.html">Article (part 2)</a> /
      <a href="http://rubyconf2007.confreaks.com/d1t2p2_building_games_with_ruby.html">Video of the talk (RubyConf '07)</a>
    </p>
    
    <h1>Licensing</h1>
    <p>
      Gosu and all documentation © 2001-2011 <a href="mailto:julian@raschke.de">Julian Raschke</a>, Jan Lücker and contributors.
    </p>
    <p>
      Gosu is released under the MIT license.
    </p>
  </div>

  <div style="clear: both"></div>
</body>
</html>